:root{
    --purpleDark:#7030a0;
    --white:#ffffff;
    --whitePurple:#bc8fdd;
    --negro:#000000;
    --gray:#494949;
    --oceanBlue:#202933;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: var(--gray);
    overflow-x: hidden;
    
}
/**nav menu**/

#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 65px;
    background: var(--purpleDark);

    display: flex;
    justify-content: space-between;
    z-index: 9999;
}
.menu .logo-box{
    margin-left: 20px;
    margin-top: 10px;
}
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 400;
    color: var(--white);
    font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
}
.menu .list-container{
    margin-right: 20px;
}
.menu .list-container .lists{
    display: flex;
    margin-top: 20px;
}
.menu .list-container .lists li{
    list-style: none;
}
.menu .list-container .lists li a{
    text-decoration: none;
    margin: 0px 6px;
    padding: 8px;
    color: var(--white);
    border-radius: 24px;
    font-size: 22px;
    transition: 0.3s;
    font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    
}
.menu .list-container .lists li a.active{
    
    color: var(--white);
    border: 3px solid var(--white);
}
.menu .list-container .lists li a:hover{
    background: var(--whitePurple);
    color: var(--white);
}
.btnmenu > .fa-bars{
    display: none;
}
/**title**/

.title{
   
    
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/image_2021-02-28_16-39-24.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.title .text{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title .text h1{
    color: var(--white);
    font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 20px;
    margin: 7px;
}
.title .text hr{
    background: var(--purpleDark);
    width: 45%;
    height: 5px;
    border: none;
}
.title .text > button{
    margin-top: 10px;
    padding: 5px;
    background: none;
    border: 2px solid var(--white);
    border-radius: 24px;
    font-family:'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
    width: 20%;
    font-size: 35px;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}
.title .text > button:hover{
    background: var(--oceanBlue);
}
/*mision y vision*/
.Mision-y-vision{
    width: 100%;
    margin-top: 100px;
}
.Mision-y-vision .info-container{
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    
}
.Mision-y-vision .info-container h1{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 40px;
    text-align: center;
     
    color: var(--white);
}
.Mision-y-vision .info-container hr{
    background: var(--purpleDark);
    border: none;
    width: 42%;
    height: 4px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.Mision-y-vision .info-container .galery{
    align-items: center;
    display: flex;
    width: 100%;
    bottom: 20px;
}

.Mision-y-vision .info-container .galery p{
    font-family: arial;
    font-size: 22px;
    width: 80%;
    margin-top: 0;
    display: flex;
    justify-content: center;
    bottom: 40px;
    left: 10px;
    text-align: justify;
    color: #ffffff;
    background-color: #4F555E;
    border-radius: 30px;
    padding: 25px;
}

.Mision-y-vision .info-container .galery .images{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px 0px;
}
.Mision-y-vision .info-container .galery .images img{
    margin: 5px 3px;
    object-fit: cover;
    border: 4px solid var(--purpleDark);
    border-radius: 10px;
    height: 190px;
    width: 190px;
    margin-left: 30px;
}
/*como aprenderas**/
.Como-aprenderas{
    margin-top: 100px;
    width: 100%;
}
.Como-aprenderas .container-proyects{
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.Como-aprenderas .container-proyects .title2 h2{
    color: var(--white);
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 40px;
    justify-content: center;
    display: flex;
    font-weight: normal;
}
.Como-aprenderas .container-proyects .title2 hr{
    background: var(--purpleDark);
    border: none;
    width: 50%;
    height: 4px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.Como-aprenderas .container-proyects .container-text{
    width: 100%;
    margin-top: 20px;
}
.Como-aprenderas .container-proyects .container-text .text-imges{
    width: 100%;
}
.Como-aprenderas .container-proyects .container-text .text-images img{
    width: calc(30% - 10px);
    border-radius: 10px;
    border: 6px solid var(--purpleDark);
    height: 350px;
    justify-content: center;
    margin: 20px 20px;
}
.Como-aprenderas .container-proyects .container-text p{
    font-size: 22px;
    width: 100%;
    margin-top: 10px;
    color: var(--negro);
    font-family: arial;
    bottom: 10px;
    text-align: justify;
    background-color: #4F555E;
    border-radius: 30px;
    padding: 25px;
    color: white;

}
.footer{
    margin-top: 20px;
    width: 100%;
}
.footer .footer-text{
    position: relative;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background: var(--negro);
    justify-content: center;
    display: flex;
    align-items: center;
}
.footer .footer-text p{
    font-size: 20px;
    color: var(--white);
    font-family: arial;
}
/**media query**/
@media only screen and (max-width:900px){
    .btnmenu > .fa-bars{
       display: block;
       position: absolute;
       top: 20px;
       right: 30px;
       font-size: 28px;
       cursor: pointer;
       color: white;
    }
  
    .menu .list-container{
       position: absolute;
       top: 60px;
       left: -100%;
       width: 100%;
       height: calc(100vh - 60px);
       background: #ffffff;
    }
    .menu .list-container .lists{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
       
    }
    .menu .list-container .lists li{
        width: 90%;
        margin: 10px 0px;
        border-bottom: 2px solid var(--purpleDark);
        text-align: center;
    }
    .menu .list-container .lists li a{
        background: none;
        color: var(--whitePurple);
    }
    .menu .list-container .lists li a:hover{
        background: none;
        color: var(--purpleDark);
    }
  
    .menu .list-container .lists li a.active{
        background: none;
        color: var(--whitePurple);
        border: none;
    }

    .menu .list-container .lists li a.active:hover{
        background: none;
        color: var(--purpleDark);
    }
}

@media only screen and ( max-width:773px){
    /**img-header**/
    
    
    
    .title .text h1{
        font-size: 40px;
    }
    .title .text > button{
        width: 30%;
    }
    .Mision-y-vision .info-container .galery {
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0;
        left: 0;
        text-align: justify;
        align-items: none;
        margin: auto;
        flex-direction: column;
    }

    .Mision-y-vision .info-container .galery p{
        width: 100%;
        font-size: 22px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        
        
        

    }
    .Mision-y-vision .info-container .galery .images{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .Mision-y-vision .info-container .galery .images img{
       margin-top: 50px;
        width: calc(30% -10px);
        margin: 0px 7px;
        
    }
    .Como-aprenderas .container-proyects .container-text .text-images img{
        width: calc(30% - 10px);
       
        height: 150px;
        justify-content: center;
        margin: 5px 5px;
    }
}
@media only screen and ( max-width:500px) and ( min-width:360px){
    /**img-header**/
    
    .title{
        position: relative;
        width: 109%;
        height: 90vh;
        background: url(../images/image_2021-02-28_16-39-24.png);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    
}
    .title .text h1{
        font-size: 25px;
    }
    .title .text > button{
        width: 30%;
        font-size: 20px;
    }
    .Mision-y-vision .info-container .galery {
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0;
        left: 0;
        text-align: justify;
        align-items: none;
        margin: auto;
        flex-direction: column;
    }

    .Mision-y-vision .info-container .galery p{
        width: 110%;
        font-size: 18px;
        display: flex;
        justify-content: center;
        
        margin-top: 20px;
        
        
        

    }
    .Mision-y-vision .info-container .galery .images{
        width: 70%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .Mision-y-vision .info-container .galery .images img{
       margin-top: 50px;
        width: calc(30% -10px);
        margin: 5px 10px;
    
        
    }
    .Como-aprenderas .container-proyects .container-text .text-images{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-left: 50px;
    }
    .Como-aprenderas .container-proyects .container-text .text-images img{
        width: 200px;
       
        height: 200px;
        justify-content: center;
        margin: 5px 5px;
    }
}
@media only screen and ( max-width:480px) and ( min-width:300px){
    /**img-header**/
   
    .title{
        position: relative;
        width: 109%;
        height: 90vh;
        background: url(../images/image_2021-02-28_16-39-24.png);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    .title .text h1{
        font-size: 23px;
    }
    .title .text > button{
        width: 40%;
        font-size: 20px;
    }
    .Mision-y-vision .info-container .galery {
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0;
        left: 0;
        text-align: justify;
        align-items: none;
        margin: auto;
        flex-direction: column;
    }

    .Mision-y-vision .info-container .galery p{
        width: 110%;
        font-size: 18px;
        display: flex;
        justify-content: center;
        margin-left: 25px;
        margin-top: 20px;
        
        
        

    }
    .Mision-y-vision .info-container .galery .images{
        width: 70%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .Mision-y-vision .info-container .galery .images img{
       margin-top: 50px;
        width: calc(30% -10px);
        margin: 5px 10px;
    
        
    }
    .Como-aprenderas .container-proyects .container-text .text-images{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-left: 20px;
    }
    .Como-aprenderas .container-proyects .container-text .text-images img{
        width: 200px;
      display: flex;
      align-items: center;
        height: 200px;
        justify-content: center;
        margin: 5px 5px;
    }
    .footer .footer-text{
        width: 109%;
    }
    .Como-aprenderas .container-proyects .container-text {
       margin-left: 0px;
    
    }
    .Como-aprenderas .container-proyects .title2 h2{
        color: var(--white);
        font-family: 'Arial Black', Gadget, sans-serif;
        font-size: 35px;
        justify-content: center;
        text-align: center;
        display: flex;
        margin: auto;
        font-weight: normal;
    }
    .Como-aprenderas .container-proyects .title2 hr{
        background: var(--purpleDark);
        border: none;
        width: 60%;
        height: 4px;
        display: flex;
        justify-content: center;
        margin: auto;
    }
}
@media only screen and ( max-width:600px) and ( min-width:519px){
    /**img-header**/
    
    .title{
        position: relative;
        width: 108%;
        height: 90vh;
        background: url(../images/image_2021-02-28_16-39-24.png);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
   
}
    .title .text h1{
        font-size: 30px;
    }
    .title .text > button{
        width: 40%;
        font-size: 30px;
    }
    .Mision-y-vision .info-container .galery {
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0;
        left: 0;
        text-align: justify;
        align-items: none;
        margin: auto;
        flex-direction: column;
    }

    .Mision-y-vision .info-container .galery p{
        width: 110%;
        font-size: 18px;
        display: flex;
        justify-content: center;
        
        margin-top: 20px;
        
        
        

    }
    .Mision-y-vision .info-container .galery .images{
        width: 70%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-left: 10px;
    }
    .Mision-y-vision .info-container .galery .images img{
       margin-top: 50px;
        width: calc(30% -10px);
        margin: 5px 15px;
    
        
    }
    .Como-aprenderas .container-proyects .container-text .text-images{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-left: 80px;
    }
    .Como-aprenderas .container-proyects .container-text .text-images img{
        width: 200px;
       
        height: 200px;
        justify-content: center;
        margin: 5px 5px;
    }
}
@media only screen and ( max-width:847px) and ( min-width:725px){
    /**img-header**/
    
    .title{
        position: relative;
        width: 100%;
        height: 90vh;
        background: url(../images/image_2021-02-28_16-39-24.png);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
   
}
    .title .text h1{
        font-size: 40px;
    }
    .title .text > button{
        width: 30%;
        font-size: 30px;
    }
    .Mision-y-vision .info-container .galery {
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0;
        left: 0;
        text-align: justify;
        align-items: none;
        margin: auto;
        flex-direction: column;
    }

    .Mision-y-vision .info-container .galery p{
        width: 110%;
        font-size: 18px;
        display: flex;
        justify-content: center;
        
        margin-top: 20px;
        
        
        

    }
    .Mision-y-vision .info-container .galery .images{
        width: 70%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .Mision-y-vision .info-container .galery .images img{
       margin-top: 50px;
        width: calc(30% -10px);
        margin: 5px 10px;
    
        
    }
    .Como-aprenderas .container-proyects .container-text .text-images{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-left: 50px;
    }
    .Como-aprenderas .container-proyects .container-text .text-images img{
        width: 200px;
       
        height: 200px;
        justify-content: center;
        margin: 5px 5px;
    }
}
@media only screen and ( max-width:518px) and ( min-width:498px){
    /**img-header**/
     
    .title{
        position: relative;
        width: 109%;
        height: 90vh;
        background: url(../images/image_2021-02-28_16-39-24.png);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    
}
    .title .text h1{
        font-size: 30px;
    }
    .title .text > button{
        width: 30%;
        font-size: 25px;
    }
    .Mision-y-vision .info-container .galery {
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0;
        left: 0;
        text-align: justify;
        align-items: none;
        margin: auto;
        flex-direction: column;
    }

    .Mision-y-vision .info-container .galery p{
        width: 110%;
        font-size: 18px;
        display: flex;
        justify-content: center;
        
        margin-top: 20px;
        
        
        

    }
    .Mision-y-vision .info-container .galery .images{
        width: 70%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .Mision-y-vision .info-container .galery .images img{
       margin-top: 50px;
        width: calc(30% -10px);
        margin: 5px 10px;
    
        
    }
    .Como-aprenderas .container-proyects .container-text .text-images{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-left: 50px;
    }
    .Como-aprenderas .container-proyects .container-text .text-images img{
        width: 200px;
       
        height: 200px;
        justify-content: center;
        margin: 5px 5px;
    }
}